<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{css/jquery.dataTables.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Login Ingest Apps</title>
  </head>
  <body
    style="
      background: rgb(19, 39, 251);
      background: radial-gradient(
        circle,
        rgba(19, 39, 251, 1) 0%,
        rgba(86, 166, 238, 1) 100%
      );
    "
  >
    <div class="container">
      <div class="justify-content-center kotak_login kotak_form">
        <h1 style="color: white; text-align: center">Login</h1>
        <form
          th:action="@{/login}"
          th:method="post"
          enctype="multipart/form-data"
          style="border-radius: 0px 0px 10px 10px"
        >
          <div class="mb-3">
            <label style="color: white">Username</label>
            <input
              type="text"
              name="username"
              id="username"
              class="form-control"
              required="true"
            />
            <p class="text-danger" id="err_judul"></p>
          </div>
          <div class="mb-3">
            <label style="color: white">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="form-control"
              required="true"
            />
          </div>

          <div class="mb-3">
            <input
              type="submit"
              id="login"
              value="Login"
              class="btn btn-primary"
              style="width: 100%"
            />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
